body {
    background-color: #F4D2CA;
    text-align: center;
    font-family: copperplate, fantasy;
}

h1 {
    color: #330F07;
    text-align: center;
}

.recipes-container {
    display: flex;
    justify-content: center;
}

.box {
    width: 400px;
    height: 300px;
    background-color: #754337;
    margin: 10px 30px;  
    color: whitesmoke;
}

.box.title {
    width: auto;
    height: auto;
}

.box img {
    width: 300px;
    margin: 0px auto;
    height: 150px;
    display: block;

}

.recipes-container .box a, .button{
    text-decoration: none;
    color: #F4D2CA;
    background-color: #330F07;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.recipes-container .box a:hover, .button:hover{
    background-color: #330f0795;
}

.description {
    margin: 20px;
}
.container-box {
    width: 1000px;
    margin: 0px auto;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-type:lower-roman;
    list-style-position: inside;
}
